* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    padding: 5px;
    /* border: 1px solid black; */
    list-style: none;
}
body {
    width: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-icons-conteiner {
    width: 50%;
}
.head-icons-conteiner a {
    width: 20%;
    text-align: center;
    border-bottom: 1px solid blue;
}
.logo-sb {
    height: 50px;
}
img {
    height: 100%;
}
div {
    display: flex;
}
.left {
    flex-grow: 1;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
    justify-content: space-between ;
}
.right {
    flex-grow: 1;
}
.column {
    display: flex;
    flex-direction: column;
}