header {
    display: flex;
}
header div:nth-child(3){
    margin-left: auto;
}
header span {
    padding: 5px;
}
.lesson-details {
    display: flex;
    border: 1px black solid;
}
.lesson-topic,
.lesson-detail {
    font-weight: bold;
    border-right: 1px solid black;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.lesson-details div{
    padding: 5px;
}